{
   "$set": {
      "title": "{$.title}",
      "year":  "{$.year,sprf=.0f}",
      "type":  "{$.type}",
      {{ if {$.rated,onf=false,ont=true}}}
      "rated": "{$.rated}"
      {{- end }}
   },
   "$unset": {
      {{ if {$.rated,onf=true,ont=false}}}
         "rated": "",
      {{- end }}
      "fake": ""
   }
}