{
   "message-from-var-b64": "{v:mail_body_b64}",
   "message-from-var-encoded": {v:mail_body_encoded},
   "message-from-var": {v:mail_body_not_encoded},
   "message-inline-b64": "{{ tmpl "kafka01-mail-body.tmpl" true false }}",
   "message-inline-encoded": {{ tmpl "kafka01-mail-body.tmpl" false true }},
   "message-inline": {{ tmpl "kafka01-mail-body.tmpl" false false }}
}